/* Ramka, marginesy, wyśrodkowanie i maksymalna szerokość */
.edit-form {
    display: flex;
    flex-direction: column;
    border: 1px solid #BDBDBD;
    justify-content: center;
    margin: 50px auto;
    max-width: 600px;
}

/* Rozmiar czcionki i marginesy między inputami */
.edit-form > * {
    font-size: 16px;
}

/* Czcionka text area i ustawienie zmiany tylko wysokości */
.edit-form > textarea {
    font: 300 1rem 'Roboto', sans-serif;
    height: 5rem;
    resize: vertical;
}

/* Obramowanie elementów formularza i powiększenie ich rozmiaru */
.edit-form > .input {
    padding: 20px;
    border: 1px solid #BDBDBD;
    margin-bottom: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

/* Wyśrodkowanie tytułu formularza */
.edit-form-title {
    margin: 16px auto;
}

.edit-form-button {
    color: white;
    background-color: #007AFF;
}

.label-placeholder {
    margin-left: 1rem;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.gender-container {
    display: flex;
    justify-content: space-between;
}

.gender-item {
    margin-bottom: 10px;
    margin-left: 1rem;
}

.error {
    color: red;
    margin: 16px auto;
}